.head {
  background-image: url(../../image/bg-head.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 800px; }
  .head a {
    color: #FFFFFF; }
  .head .head__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1560px;
    min-height: 90px; }
    .head .head__top .top__center {
      max-width: 653px;
      width: 100%; }
    .head .head__top .top__right {
      max-width: 172px;
      width: 100%; }
      .head .head__top .top__right .search {
        display: none;
        background-color: white;
        border-radius: 40px;
        width: 100%; }
        .head .head__top .top__right .search input {
          max-width: 100px;
          width: 100%;
          border: none;
          outline: none; }
        .head .head__top .top__right .search a {
          text-decoration: none;
          margin-left: 10px;
          color: #2E373B; }
      .head .head__top .top__right .onclick {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .head .head__top .top__right .remove {
        display: none; }
  .head hr {
    margin: 0 -15px;
    background-color: #FFFFFF;
    height: 1px; }
  .head .head__bottom {
    max-width: 1112px;
    width: 100%;
    height: 710px;
    margin: 0 auto;
    position: relative; }
    .head .head__bottom .bottom__left {
      max-width: 535px;
      width: 100%;
      color: #FFFFFF;
      position: relative;
      bottom: 6%; }
      .head .head__bottom .bottom__left h1 {
        font-size: 64px;
        margin: 0; }
      .head .head__bottom .bottom__left p {
        width: 433px;
        font-size: 24px;
        margin: 35px 0 25px 0; }
      .head .head__bottom .bottom__left a {
        margin-right: 10px; }
    .head .head__bottom .bottom__right {
      max-width: 570px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 53px;
      position: absolute;
      right: 0;
      bottom: 0; }
      .head .head__bottom .bottom__right div {
        width: 255px;
        max-height: 175px;
        margin: 15px;
        padding: 30px 40px; }
        .head .head__bottom .bottom__right div p {
          margin: 0 0 15px 0 auto;
          font-size: 21px;
          font-weight: 500;
          color: #FFFFFF; }
        .head .head__bottom .bottom__right div a {
          font-size: 14px; }
      .head .head__bottom .bottom__right .blue {
        background-color: #2378FC; }
      .head .head__bottom .bottom__right .green {
        background-color: #30BCC9; }
      .head .head__bottom .bottom__right .yellow {
        background-color: #FFC41E; }
      .head .head__bottom .bottom__right .red {
        background-color: #F6404F; }
