@import "../variables";

.head {
    background-image: url(../../image/bg-head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    a {
        color: $white;
    }

    .head__top {
        margin: 0 auto;
        max-width: 1560px;
        min-height: 90px;

        nav {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .nav__right {
                max-width: 576px;
                width: 100%;
            }
            .navbar-toggler {
                background-color: $white;
            }
        }

        .top__left {
            max-width: 1080px;
            width: 100%;
        }

        .top__right {
            max-width: 172px;
            width: 100%;

            .search {
                display: none;
                background-color: white;
                border-radius: 40px;
                width: 100%;

                input {
                    max-width: 100px;
                    width: 100%;
                    border: none;
                    outline: none;
                }
                button {
                    outline: none;
                    transform: translate(-3px, -2px);
                    margin-left: 10px;
                    color: $black;
                }
            }
            .onclick {
                display: flex;
            }
            .remove {
                display: none;
            }
        }
    }

    hr {
        margin: 0 -15px;
        background-color: $white;
        height: 1px;
    }

    .head__bottom {
        max-width: 1112px;
        width: 100%;
        height: 710px;
        margin: 0 auto;
        position: relative;

        .bottom__left {
            max-width: 535px;
            width: 100%;
            color: $white;
            position: absolute;
            top: 20%;
            left: 0;
            flex-wrap: wrap;

            h1 {
                font-size: calc(43px + 21 * (100vw / 1980));
                margin: 0;
            }
            p {
                width: 433px;
                font-size: 24px;
                margin: 35px 0 25px 0;
            }
            a {
                margin-right: 10px;
            }
            svg {
                margin: 9.5px 0 auto;
            }
        }
        .bottom__right {
            max-width: 570px;
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: 53px;
            position: absolute;
            right: 0;
            bottom: 0;

            div {
                max-width: 255px;
                max-height: 175px;
                margin: 15px;
                padding: 30px 40px;

                p {
                    margin: 0 0 15px 0 auto;
                    font-size: 21px;
                    font-weight: 500;
                    color: $white;
                }
                a {
                    font-size: 14px;
                }
            }
            .blue {
                background-color: $blue;
            }
            .green {
                background-color: $green;
            }
            .yellow {
                background-color: $yellow;
            }
            .red {
                background-color: $red;
            }
        }
    }
}

@media (max-width: 1048px) { 
    .bottom__left {
        margin: 0 auto;
        right: 0;
        transform: translateY(-53%);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .bottom__right {
        margin: 0 auto;
        left: 0;
    }
}

@media (max-width: 991px) {
    .nav__right {
        max-width: 100%;
        margin-right: 12%;

        a {
            padding-left: 0;
        }
    }

    .top__right {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 11px;
    }
}

@media (max-width: 599px) {
    .head__bottom {
        max-height: 300px;
    }
    .bottom__left {
        bottom: 59.5%;
    }
    .bottom__right * {
        display: none;
    }
}

@media (max-width: 480px) {
    .head__top .top__right {
        margin: auto;
        margin-right: 0;
        padding-top: 16px;
    }
    
    .top__right {
        position: relative;
    }
}