.head {
  background-image: url(../../image/bg-head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .head a {
    color: #FFFFFF; }
  .head .head__top {
    margin: 0 auto;
    max-width: 1560px;
    min-height: 90px; }
    .head .head__top nav {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .head .head__top nav .nav__right {
        max-width: 576px;
        width: 100%; }
      .head .head__top nav .navbar-toggler {
        background-color: #FFFFFF; }
    .head .head__top .top__left {
      max-width: 1080px;
      width: 100%; }
    .head .head__top .top__right {
      max-width: 172px;
      width: 100%; }
      .head .head__top .top__right .search {
        display: none;
        background-color: white;
        border-radius: 40px;
        width: 100%; }
        .head .head__top .top__right .search input {
          max-width: 100px;
          width: 100%;
          border: none;
          outline: none; }
        .head .head__top .top__right .search button {
          outline: none;
          -webkit-transform: translate(-3px, -2px);
          -ms-transform: translate(-3px, -2px);
          transform: translate(-3px, -2px);
          margin-left: 10px;
          color: #2E373B; }
          .head .head__top .top__right .search button span {
            font-size: 100%; }
      .head .head__top .top__right .onclick {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .head .head__top .top__right .remove {
        display: none; }
      .head .head__top .top__right .language a {
        margin-left: 5px;
        color: #FFFFFF; }
      .head .head__top .top__right .language .dropdown-menu {
        -webkit-transform: translateX(-80px);
        -ms-transform: translateX(-80px);
        transform: translateX(-80px); }
        .head .head__top .top__right .language .dropdown-menu a {
          color: #2E373B; }
        .head .head__top .top__right .language .dropdown-menu a:hover {
          background-color: #FFFFFF;
          color: #2378FC;
          width: inherit; }
  .head hr {
    margin: 0 -15px;
    background-color: #FFFFFF;
    height: 1px; }
  .head .head__bottom {
    max-width: 1112px;
    width: 100%;
    height: 710px;
    margin: 0 auto;
    position: relative; }
    .head .head__bottom .bottom__left {
      max-width: 535px;
      width: 100%;
      color: #FFFFFF;
      position: absolute;
      top: 20%;
      left: 0;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .head .head__bottom .bottom__left h1 {
        font-size: calc(43px + 21 * (100vw / 1980));
        margin: 0; }
      .head .head__bottom .bottom__left p {
        width: 433px;
        font-size: 24px;
        margin: 35px 0 25px 0; }
      .head .head__bottom .bottom__left a {
        margin-right: 10px; }
      .head .head__bottom .bottom__left svg {
        margin: 9.5px 0 auto; }
    .head .head__bottom .bottom__right {
      max-width: 570px;
      width: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 53px;
      position: absolute;
      right: 0;
      bottom: 0; }
      .head .head__bottom .bottom__right div {
        max-width: 255px;
        max-height: 175px;
        margin: 15px;
        padding: 30px 40px; }
        .head .head__bottom .bottom__right div p {
          margin: 0 0 15px 0 auto;
          font-size: 21px;
          font-weight: 500;
          color: #FFFFFF; }
        .head .head__bottom .bottom__right div a {
          font-size: 14px; }
      .head .head__bottom .bottom__right .blue {
        background-color: #2378FC; }
      .head .head__bottom .bottom__right .green {
        background-color: #30BCC9; }
      .head .head__bottom .bottom__right .yellow {
        background-color: #FFC41E; }
      .head .head__bottom .bottom__right .red {
        background-color: #F6404F; }

@media (max-width: 1048px) {
  .bottom__left {
    margin: 0 auto;
    right: 0;
    -webkit-transform: translateY(-53%);
    -ms-transform: translateY(-53%);
    transform: translateY(-53%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .bottom__right {
    margin: 0 auto;
    left: 0; } }

@media (max-width: 991px) {
  .nav__right {
    max-width: 100%;
    margin-right: 12%; }
    .nav__right a {
      padding-left: 0; }
  .top__right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 11px; } }

@media (max-width: 599px) {
  .head__bottom {
    max-height: 300px; }
  .bottom__left {
    bottom: 59.5%; }
  .bottom__right * {
    display: none; } }

@media (max-width: 480px) {
  .head__top .top__right {
    margin: auto;
    margin-right: 0;
    padding-top: 16px; }
  .top__right {
    position: relative; } }
