@import "../variables";

.ice__cream {
    background-color: $iceCream;

    .container-fluid {
        padding: 75px 0 26px 0;
        flex-wrap: wrap;

        .left {
            width: 50%;
            flex-wrap: wrap;

            img {
                margin-bottom: 59px;
            }
        }

        .right {
            justify-content: space-between;
            flex-wrap: wrap;
            width: 50%;

            h1 {
                margin: 0;
                font-size: 30px;
            }
            span {
                margin-right: 15px;

                a {
                    color: $black;
                    font-size: 21px;
                    text-align: center;
                }
                svg {
                    transform: translate(5px ,-2px);
                }
            }
        }
    }
}

.news {
    width: 100%;

    .news__block {
        max-width: 530px;
        width: 100%;
        padding-left: 0;
        padding-top: 0;

        .text {
            margin-left: 30px;

            h1 {
                color: $red;
                font-size: 16px;
                margin: 0 0 14px 0;
            }
            p {
                color: $black;
                font-size: 21px;
                margin: 0;
            }
        }
    }
}

@media (max-width: 1006px) {
    .ice__cream .container-fluid {

        .left {
            max-width: 100%;
            width: 100%;
            justify-content: center;
        }

        .right {
            width: 100%;
            justify-content: space-around;

            .news__block {
                max-width: max-content;
                display: flex;
                flex-wrap: wrap;
                padding: 0 15px;
                margin-top: 30px;

                .img {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 810px) {
    .news .news__block .text {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 810px) and (min-width: 591px) {
    .news__block .img {
        width: 260px;
        height: 195px;

        img {
            width: inherit;
            height: inherit;
        }
    }
}
@media (max-width: 810px) and (min-width: 485px) {
    .news__block .text {
        max-width: 445px;
    }
}

@media (max-width: 764px) {
    .news__block .text h1 {
        padding-top: 15px;
    }
}