.ice__cream {
  background-color: #FAF3E3; }
  .ice__cream .container-fluid {
    padding: 75px 0 26px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .ice__cream .container-fluid .left {
      width: 50%; }
      .ice__cream .container-fluid .left img {
        margin-bottom: 59px; }
    .ice__cream .container-fluid .right {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 50%; }
      .ice__cream .container-fluid .right h1 {
        margin: 0;
        font-size: 30px; }
      .ice__cream .container-fluid .right span a {
        color: #2E373B;
        font-size: 21px;
        text-align: center; }
      .ice__cream .container-fluid .right span svg {
        -webkit-transform: translate(5px, -2px);
        -ms-transform: translate(5px, -2px);
        transform: translate(5px, -2px); }

.news {
  width: 100%; }
  .news .news__block {
    max-width: 530px;
    width: 100%;
    padding-left: 0;
    padding-top: 0; }
    .news .news__block .text {
      margin-left: 30px; }
      .news .news__block .text h1 {
        color: #F6404F;
        font-size: 16px;
        margin: 0 0 14px 0; }
      .news .news__block .text p {
        color: #2E373B;
        font-size: 21px;
        margin: 0; }
