@import "../variables";

.blue__zone {
    background-color: $blue;
    padding: 75px 0;

    .container-fluid {
        max-width: 1114px;
        width: 100%;

        div {
            max-width: 210px;
            display: flex;
            flex-wrap: wrap;
            height: max-content;
            
            * {
                color: $white;
            }
            h1 {
                font-size: 30px;
                margin: 0 0 15px 0;
            }
            a {
                font-size: 16px;
                width: 100%;
                margin: 15px 0 0 0;
            }
            a:hover {
                color: $yellow;
            }
        }
    }
}