@import "../variables";

.blue__zone {
    background-color: $blue;
    padding: 75px 0;

    .container-fluid {
        max-width: 1114px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            max-width: 210px;
            display: flex;
            flex-wrap: wrap;
            height: max-content;
            
            * {
                color: $white;
            }
            h1 {
                font-size: 30px;
                margin: 0 0 15px 0;
            }
            a {
                font-size: 16px;
                width: 100%;
                margin: 15px 0 0 0;
            }
            a:hover {
                color: $yellow;
            }
        }
    }
}

@media (max-width: 991px) {
    .blue__zone .container-fluid {
        justify-content: center;

        div {
            margin: 10px 60px;
        }
    }
}

@media (max-width: 689px) {
    .blue__zone {
        padding: 35px 0;

        div {
            text-align: center;
        }
        h1 {
            max-width: 100%;
            width: 100%;
            text-align: center;
        }
    }
}