@import "../variables";

.yellow__zone {
    background-color: $yellow;

    .container-fluid {
        max-width: 1114px;
        width: 100%;
        padding: 75px 0 79px 0;

        .header {
            margin: 0 0 55px 0;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            * {
                margin: 0;
                color: $black;
            }
        }

        .block {
            text-align: center;

            img {
                margin: 0 0 20px 0;
            }
            p {
                margin: 0;
                font-size: 14px;
                color: $black;
            }
            h1 {
                margin: 10px 0;
                font-size: 21px;
                color: $red;
            }
        }
    }

    .pop__up {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;

        .close {
            width: 100%;
            text-align: right;
            cursor: auto;

            a {
                position: fixed;
                transform: translateX(-10px);
                border: none;
                color: $black;
                font-size: 23px;
                text-decoration: none;
            }
        }

        .pop__up__container {
            max-width: 1114px;
            min-width: 260px;
            width: 100%;
            height: 855px;
            flex-wrap: wrap;
            margin: auto;
            padding: 0 15px 15px 15px;
            border-radius: 10px;
            justify-content: space-evenly;

            .block {
                text-align: left;
                margin-top: 15px;
                text-align: center;

                img {
                    margin-bottom: 5px;
                }

                p {
                    max-width: 350px;
                    width: 100%;
                }
            }
        }
    }

    .pop {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        padding: 30px;

        .pop__up__container {
            background-color: $white;

            .block {
                box-shadow: 0 0 4px 2px rgba(35,21,21,.15);

                p {
                    color: $black;
                }
                h1 {
                    color: $red;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .header {
        display: inline;

        h1,
        span {
            text-align: center;
            max-width: 100%;
            width: 100%;
        }
        h1 {
            padding-bottom: 25px;
        }
    }
}

@media (max-width: 1139px) {
    .pop__up .pop__up__container {
        overflow-y: scroll;
        justify-content: center;
    }
}

@media (max-width: 590px) {
    .yellow__zone .body .block img {
        width: 240px;
    }
    .pop__up .block, img {
        width: 260px;
    }
}
@media (max-width: 360px) {
    .yellow__zone .body .block img {
        width: 160px;
    }
}