.yellow__zone {
  background-color: #FFC41E; }
  .yellow__zone .container-fluid {
    max-width: 1114px;
    width: 100%;
    padding: 75px 0 79px 0; }
    .yellow__zone .container-fluid .header {
      margin: 0 0 55px 0;
      padding: 0 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .yellow__zone .container-fluid .header * {
        margin: 0;
        color: #2E373B; }
    .yellow__zone .container-fluid .block {
      text-align: center; }
      .yellow__zone .container-fluid .block img {
        margin: 0 0 20px 0; }
      .yellow__zone .container-fluid .block p {
        margin: 0;
        font-size: 14px;
        color: #2E373B; }
      .yellow__zone .container-fluid .block h1 {
        margin: 10px 0;
        font-size: 21px;
        color: #F6404F; }
  .yellow__zone .pop__up {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0; }
    .yellow__zone .pop__up .close {
      width: 100%;
      text-align: right;
      cursor: auto; }
      .yellow__zone .pop__up .close a {
        position: fixed;
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
        border: none;
        color: #2E373B;
        font-size: 23px;
        text-decoration: none; }
    .yellow__zone .pop__up .pop__up__container {
      max-width: 1114px;
      min-width: 260px;
      width: 100%;
      height: 855px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: auto;
      padding: 0 15px 15px 15px;
      border-radius: 10px;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .yellow__zone .pop__up .pop__up__container .block {
        text-align: left;
        margin-top: 15px;
        text-align: center; }
        .yellow__zone .pop__up .pop__up__container .block img {
          margin-bottom: 5px; }
        .yellow__zone .pop__up .pop__up__container .block p {
          max-width: 350px;
          width: 100%; }
  .yellow__zone .pop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px; }
    .yellow__zone .pop .pop__up__container {
      background-color: #FFFFFF; }
      .yellow__zone .pop .pop__up__container .block {
        -webkit-box-shadow: 0 0 4px 2px rgba(35, 21, 21, 0.15);
        box-shadow: 0 0 4px 2px rgba(35, 21, 21, 0.15); }
        .yellow__zone .pop .pop__up__container .block p {
          color: #2E373B; }
        .yellow__zone .pop .pop__up__container .block h1 {
          color: #F6404F; }

@media (max-width: 960px) {
  .header {
    display: inline; }
    .header h1,
    .header span {
      text-align: center;
      max-width: 100%;
      width: 100%; }
    .header h1 {
      padding-bottom: 25px; } }

@media (max-width: 1139px) {
  .pop__up .pop__up__container {
    overflow-y: scroll;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 590px) {
  .yellow__zone .body .block img {
    width: 240px; }
  .pop__up .block, img {
    width: 260px; } }

@media (max-width: 360px) {
  .yellow__zone .body .block img {
    width: 160px; }
  .yellow__zone .pop__up__container .block, img {
    max-width: 260px;
    width: 100%; } }
