@import "../variables";

.green__zone {
    background-color: $green;

    .container-fluid {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    .left {
        flex-wrap: wrap;
        max-width: 727px;
        width: 100%;
        margin-top: -40px;

        div {
            margin-top: 40px;
            max-width: 210px;
            display: flex;
            flex-wrap: wrap;
            height: max-content;

            h1 {
                color: $white;
                font-size: 21px;
                margin: 0 0 10px 0;
            }
            a {
                color: $gray;
                font-size: 14px;
                font-weight: 400;
                width: 100%;
                margin: 10px 0 0 0;
            }
            a:hover {
                color: $yellow;
            }
            img {
                margin: 10px 0 0 0;
            }
        }
    }

    .right {

        h1 {
            color: $white;
            font-size: 21px;
            margin: 0;
        }

        .top svg {
            margin: 30px 0 50px 0;
        }
        .bottom {
            max-width: 255px;
            width: 100%;

            h1 {
                margin: 0 0 15px 0;
            }
            p {
                color: $gray;
                font-size: 14px;
                margin: 0;
            }

            .search {
                width: 255px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                background-color: $white;
                position: relative;
                margin-top: 25px;
                
                input {
                    padding: 13px 0 11px 20px;
                    outline: none;
                    border: none;
                }
                svg {
                    position: absolute;
                    right: 0;
                    background-color: $red;
                    margin: 0 auto;
                    width: 40px;
                    height: inherit;
                    padding: 12.09px 11px 10.09px 11px;
                }
            }
        }
    }
}

@media (max-width: 1011px) {
    .green__zone .container-fluid {
        justify-content: center;
    }
    .left div {
        padding-left: 15px;
        padding-right: 15px;
    }
    .right {
        margin-top: 30px;
    }
}

@media (max-width: 659px) {
    .green__zone .container-fluid {
        text-align: center;

        .left div {
            margin: auto;
            margin-bottom: 30px;

            h1 {
                margin: auto;
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 659px) and (min-width: 449px) {
    .green__zone .container-fluid {
        max-width: 449px;
    }
}